
{% extends 'py_feeder/base.html'%}
{% load static %}
{% block extra_css %}
     <link rel="stylesheet" href="{% static 'article.css' %}">
{% endblock %}
   {% block content %}
       <div class="container-fluid hero">
       <h1>Your Stronghold</h1>
       <p>Rss feeds for all the things</p>
       </div>
    <div class="container-fluid">
     <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for article in articles %}
        <div class="col">
        <a class="feed-link" href="{{ article.link }}" target="_blank">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="meta">Source: {{ article.feed.title }}</p>
                <p class="article-text">{{ article.description|striptags|truncatewords:40 }}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Published: {{ article.pub_date }}</small>
            </div>
        </div>
        </a>
         </div>
    {% empty %}
        <p>No articles found. Add a feed via the Django Admin panel and run the management command.</p>
    {% endfor %}
     </div>
    </div>
   {% endblock %}